.layout {
  min-height: 100vh;
  background: #fff;
}

.content {
  background: #fff;
  max-width: 1600px;
  margin: 0 8px;
  padding-bottom: 30px;
}

.footer {
  background: #fff;
  display: flex;
  justify-content: center;
}
