@use './styles/normalize';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.btn {
  width: 200px;
}
